@model BoardWebApp.Models.loginmodel

@{
	ViewData["Title"] = "Login";
}

    <div class="container custom-login">
	    <div class="row justify-content-center">
		    <div class="col-3">
    <form asp-asp-controller="Account" asp-action="Login">
        <img class="mb-4" src="http://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">로그인</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
          <input type="text" class="form-control" asp-for="UserName" placeholder="사용자 아이디">
          <label for="floatingInput">사용자아이디 </label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" asp-for="Password" id="floatingPassword" placeholder="패스워드">
          <label for="floatingPassword">패스워드</label>
        </div>

        <div class="checkbox mb-3">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" type="checkbox"
                               value="remember-me">@Html.DisplayNameFor(m => m.RememberMe)
                </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2023</p>
      </form>
		    </div>
	    </div>
</div>